* {
    box-sizing:border-box;
}

/*Structure-Container*/

/*-Setting webpage's body to appear in regular order from top to bottom*/
body, .headercontainer, nav, nav ul, .maintopic,.aboutme, .aboutdetails, .aboutSharriBeFitt, .productoptions,.onlineprogram, .mealplanning, .products, .community,.weightCalculator, .weightCalculator form, .testimonials,  .mailinglist, footer, .portantinfo, .socialmedia, .webcloser {
    display: flex;
}
/*Setting certain portions of website in a vertical/column manner*/
body, .maintopic,.aboutdetails, .aboutSharriBeFitt,.onlineprogram, .mealplanning, .products, .community,.weightCalculator, .weightCalculator form, .totalWeightDifference, .testimonials, .mailinglist, .portantinfo, .socialmedia {
    flex-direction: column;
}
/*Setting certain portions of website in a horizontal/row manner*/
.headercontainer, nav, nav ul, .aboutme,.productoptions, footer, .webcloser {
    flex-direction: row; 
}
/*Setting space on the edges of the headers and making it scroll as the user scrolls*/
.headercontainer {
    padding: 2.5rem;
    position: sticky;
    top: 0;
}
/*Creating the measurement/spacing for the nav*/
nav {
    justify-content:space-between;
    align-items: center;
    width: 100%;
}
/*Creating the measurement/spacing for the list in the nav*/
nav li {
    padding: 0 1em;
} 
/*Setting the height of the main section with the big photo*/
.maintopic {
    height: 33rem;
}
/*Creating the measurement/spacing for the about me section... NOTE: this only alters the about me section, not the .aboutdetails section with the about me heading*/
.aboutme {
    justify-content: space-around;
    margin-top: 5em;
    padding: 3.125rem 0;
}
/*Splitting the about me section into 2 equal sections and centering the content*/
.aboutdetails, .aboutSharriBeFitt {
    width: 50%;
    align-items: center;
}
/*Setting whitespace between these sections */
.productoptions, .weightCalculator, .testimonials, .mailinglist, footer {
    margin: 5em 0 0 0;
}
/*Spacing content for these sections, the first 2 listed are horizontal, the last 2 are vertical*/
.productoptions, footer, .portantinfo, .socialmedia {
    justify-content: space-evenly;
}
/*Spacing content to be in the center*/
.maintopic,.onlineprogram, .mealplanning, .products, .community, .weightCalculator, .testimonials, .mailinglist, .portantinfo, .socialmedia{
    align-items: center;
}
/*Spacing content for these sections with equal space between*/
.onlineprogram, .mealplanning, .products, .community {
    justify-content: space-between;
}
/* Setting the width of each testimonials */
.test1, .test2, .test3 {
    width: auto;
}
/*Setting the measurements and width for these sections*/
.onlineprogram, .products, .mealplanning, .community {
    height: auto;
    padding-bottom: 2rem;
    width: 23%;
}

/*Adding padding to the bottom*/
.aboutdetails, .mailinglist {
    padding-bottom: 2rem;
}
/*Centering weight calculator*/
form * {
    align-self: center;
    margin-top: .75em;
}
/*Adding margin to the bottom of each testimonial & footer section, creating vertical space between each*/
.test1,.test2, .test3, footer {
    margin-bottom: 2rem;
}
/*Aligning these sections so they are moreso toward the bottom on the .productoptions section, creating a staggering look*/
.mealplanning,.community {
    align-self: flex-end;
}
/*Setting so contents are completely centered in the container*/
.webcloser {
    justify-content: center;
    align-items: center;
}
.weightCalculator input {
    width: 20%;
}

/*Structure-Content*/
/*- Design of navigation list items*/
nav a, li, .productoptions a, .mailButton {
    color: black;
    font-size: 1em;
    text-decoration: none;
}
/*-text change when photo is hovered */
nav a:hover, .productoptions a:hover, .totalButton:hover, .mailButton:hover, .portantinfo a:hover{
    color: pink;
}
/*Making links in .productoptions section bold when they are hovered over*/
.productoptions a:hover, .totalButton:hover, .mailButton:hover{
    font-weight: 800;
}
/*-sizing of the logo*/
nav > img {
    height: 15vh;
    width: 12vw;
    margin-left: 6.25rem;
}
/*-sizing of the main photo*/
.maintopic img{
    height: 88%;
    width: 40%;
    /* border: 40px solid pink; */
    border: 0.938rem solid white;
    border-radius: 40%;
    box-shadow: 0.313rem 0.625rem 0.313rem #ccc;
    border-style: double;
    margin-top: 2rem;
}
/*Centering of headings for about me, products*/
.aboutdetails h2,.aboutSharriBeFitt p,.aboutSharriBeFitt span, .productoptions h3,.productoptions p  {
    text-align: center;
}
/*Adding padding space above these elements to be more visually appealing*/
.aboutdetails h2, .aboutSharriBeFitt span, .productoptions h3,.mailinglist h2 {
    padding-top: 2rem;
}
/*-sizing of the about me image*/
.aboutdetails img {
    height: 50vh;
    width: 30vw;
}
/*Expanding this section to cover 100% of its width*/
.productoptions {
    width: 100%;
}
/*-sizing of the social media icons*/
.socialmedia img {
    height: 3vh;
    width: 2vw;
}
/*Setting these elements to be positioned based on their original locations and setting color*/
h1, .maintopic p {
    position: relative;
    color: white;
}
/*Appearance of "build the body you want" and positioning + weight calculator*/
.maintopic p, .weightCalculator label, .weightCalculator p {
    color: pink;
    font-size: 1.5rem;
}
.weightCalculator p{
    color:#936ead;
}
/*Appearance of "build the body you want" and positioning*/
.maintopic p{
    left: -18.75rem;
    bottom: 12.2rem;
    text-shadow: -0.125rem -0.125rem 0.25rem #000000;
}
/*Setting appearance of "sharri be fitt", positioning, and borders*/
.maintopic h1 {
    left: -18.75rem;
    bottom: 12.2rem;
    font-size: 4rem;
    background-color: #936eadef;
    border: 0.125rem dashed white;
    border-radius: 5%;
}
/*Setting the font*/
li, h1, h2, .aboutSharriBeFitt span, h3, .testimonials span,.mailinglist label, .webcloser  {
    font-family: 'Poppins';
}
/*Setting the appearance of these text*/
h2, .aboutSharriBeFitt span, h3 {
    color: white;
    font-size : 2.5rem;
    text-shadow: 0.063rem 0.063rem 0.625rem #000000;
}
/*Setting the font*/
.weightCalculator label, .weightCalculator p{
    text-shadow: -0.02rem -0.02rem 0.1rem #000000
}
/*Setting the font*/
.maintopic p, .mailinglist p {
    font-family: "Alfa Slab One";
}
/*Setting the font and appearance*/
.aboutSharriBeFitt p, .productoptions p {
    color: white;
    width: 80%;
}
/*Setting the font*/
.aboutSharriBeFitt p, .productoptions p, form label, .testimonials p, .info, .portantinfo a {
    font-family: "Quicksand";
}
/*Setting the font size*/
.aboutSharriBeFitt p {
    font-size: 1.563rem;
}
/*Adding space above these portions for visual appeal*/
.aboutdetails img, .aboutSharriBeFitt p, .productoptions p, .mailinglist p {
    margin-top: 1.25rem;
}
/*Adding space below for visual appeal*/
.productoptions p, .mailinglist p, form {
    margin-bottom: 1.25rem;
}
/*Setting font and padding on each side of these links (buttons)*/
.productoptions a, .totalButton, .mailButton {
    font-family: 'Poppins';
}
.productoptions a, .totalButton {
    padding: 2%;
}
/*Setting appearance of the paragraph section of the mailing list section*/
.mailinglist p {
    color: whitesmoke;
    font-weight: 300;
    width: 20%;
    line-height: 1.3rem;
    text-align: center;
    letter-spacing: .08rem;
}
/*Setting appearance of text in the info section*/
.info {
    color: #936ead;
    text-shadow: 0.0025rem 0.0025rem 0.08rem #000000;
}
/*Removing the underline decoration from the links*/
.portantinfo a{
    text-decoration: none;
}
/*Making the text bolder*/
.webcloser, .info {
    font-weight: 800;
}


/*Skin*/
/* body {
    background-image: url("");
} */
/*beautifying the main display of the page (gradient color purple, and 3d border effect)*/
.maintopic {
    background-image: linear-gradient(to right, #936ead, rgb(240, 219, 255));
    border-bottom: 1px solid;
    box-shadow: 0 0.375rem 0.5rem -0.25rem black;
}
/*setting the color of the header and making it the top 3d layer of the webpage*/
.headerskin {
    background-color: white;
    z-index: 3;
}
/*background color of the main about me section*/
.aboutdetails {
    background-color: rgb(240, 219, 255);
}
/*creating a vorder and shadow for the header/nav bar*/
.headerskin {
    border-bottom: 0.063rem solid;
    box-shadow: 0 0.375rem 0.5rem -0.25rem black;
}
/*set main about me color and making the about me section have a shadow effect*/
.aboutme {
    background-color: #936ead;
    outline: 0.063rem solid rgb(240, 219, 255);
    outline-offset: -0.625rem;
}
/*giving the make fitness fun portion have shadow effects*/
.aboutdetails {
    box-shadow: 0.063rem 0.375rem 0.5rem black;
    z-index: 2;
}
/*setting background color*/
.onlineprogram, .products {
    background-color:#936ead;
}
/*background color*/
.mealplanning, .community {
    background-color:  rgb(240, 219, 255);
}
/*setting gradient color and consistency*/
.weightCalculator{
    background-image: linear-gradient(to left, #936ead, rgb(240, 219, 255));
}
/*overall appearance of mailing list backdrop*/
.mailinglist {
    background-color: #936ead;
    border-radius: 10%;
    box-shadow: .063rem 0.375rem 0.5rem black;
    width: 90%;
    align-self: center;
}
/*appearance for all buttons on page*/
.productoptions a, .totalButton, .mailButton {
    background-color: white;
    color: #936ead;
    border: 0.125rem ridge rgb(240, 219, 255);
}
/*appearance and measurements for footer section*/
.webcloser {
    height: 2rem;
    width: 100%;
    background-color: rgb(240, 219, 255);
    border-top: .089rem dashed #936ead;
    color: rgb(182, 172, 172) ;
}



@media only screen and  (min-width: 320px) and (max-width: 800px) {
     .aboutme,.productoptions, footer, .webcloser {
        flex-direction: column; 
    }
    body {
        width: 100vw;
        align-items: stretch;
    }
    /*-sizing of the logo*/
    nav > img {
        height: 15vh;
        width: 12vw;
        margin-left: 2.25rem;
    }
     /*-sizing of the about me image*/
     .aboutdetails img {
        height: 50vh;
        width: 90vw;
    }
    .productoptions section {
        width: 100%;
    }
    .headercontainer {
        position: relative;
        height: 20vh;
        padding: .5rem;
    }
    .maintopic img {
        width: 90%;
    }
    .maintopic p, .maintopic h1{
        align-items: center;
        left: 0;
        bottom: 0;
    }
    /*Splitting the about me section into 2 equal sections and centering the content*/
    .aboutdetails, .aboutSharriBeFitt {
        width: 100vw;
        /* align-items: center; */
    }
    /*Setting whitespace between these sections */
    .aboutme, .productoptions, .weightCalculator, .testimonials, .mailinglist, footer {
        margin: 1em 0 0 0;
    }
    .testimonials {
        text-align: center;
    }
    /*Setting appearance of the paragraph section of the mailing list section*/
    .mailinglist p {
        font-weight: 100;
        width: 90%;
        letter-spacing: .03rem;
    }
    /*-sizing of the about me image*/
    .aboutdetails img {
        height: 50vh;
        width: 60vw;
    }
    /*Adding margin to the bottom of each testimonial & footer section, creating vertical space between each*/
    .test3 {
        margin-bottom: 1rem;
    }
    footer > img {
        display: none;
    }
    .info, .socialmedia {
        font-size: 1.3rem;
    }
    /*-sizing of the social media icons*/
    .socialmedia img {
        height: 6vh;
        width: 8vw;
    }
    .socialmedia {
        margin-top: 1rem;
    }
    .webcloser {
        text-align: center;
    }
}
@media only screen and (min-width: 319px) and (max-width: 414px) {
    .maintopic h1{
        font-size: 2.8rem;
    }
    .maintopic p {
        font-size: 1.4rem;
    }
    .headercontainer li{
        display: none;
    }
    /*-sizing of the logo*/
    nav > img {
        height: 90%;
        width: 30%;
        align-self: flex-start;
        margin-left: 0;
    }
     /*-sizing of the about me image*/
     .aboutdetails img {
        height: 50vh;
        width: 90vw;
    }
    .headerskin {
        display: none;
    }
    /*Setting the height of the main section with the big photo*/
    .maintopic {
        height: 100vh;
    }
    /*-sizing of the main photo*/
    .maintopic img{
        height: 70%;
        width: 90%;
        margin: 3rem 0 1rem 0;
    }
    h2 {
        text-align: center;
    }
    .aboutdetails {
        display: none;
    }
    .aboutSharriBeFitt span{
        padding-top: 0;
    }
    .aboutSharriBeFitt p {
        font-size: 1.2rem;
        width: 90%;
    }
}
